/* You can add global styles to this file, and also import other style files */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.demo {
  color: red;
}

.my-port {
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 100%;
  background: #eee;
}

.my-btn {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.3s;
  font-size: 12px;
  img {
    width: 56px;
    height: 56px;
    padding: 13px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
  }
  .icon {
    z-index: 6;
  }
  .icon-1 {
    left: 0px;
    z-index: 1;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.my-btn:hover {
  // border-radius: 50%;
  // box-shadow: 0px 0px 10px #888888;

  .icon-1 {
    left: 100px;
  }
}

.editDiv[contenteditable="true"]:empty::before {
  content: attr(placeholder);
  color: #cccccc;
}

.tag-item {
  line-height: 20px;
  border-radius: 14px;
  height: 20px;
  font-size: 14px;
  display: inline-block;
  background: greenyellow;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
